---
# @var traefik_ingress_enabled
# @var traefik_ingress_enabled:type: boolean
# @var traefik_ingress_enabled:description: >
# Should traefik helm chart be installed
traefik_ingress_enabled: true

# @var traefik_namespace
# @var traefik_namespace:type: string
# @var traefik_namespace:description: >
# K8s namespace to install the traefik ingress chart
traefik_namespace: "ingress-traefik-controller"

# @var traefik_helm_version
# @var traefik_helm_version:type: string
# @var traefik_helm_version:description: >
# Helm chart version to install
traefik_helm_version: v38.0.1

# @var traefik_deployments
# @var traefik_deployments:type: list of dict
# @var traefik_deployments:description: >
# List of ingress controllers to deploy
# @var traefik_deployments:example: >
#  traefik_deployments:
#    - name: traefik
#      state: present
#      helm_values:
#        deployment_kind: "DaemonSet"
#        service_type: "LoadBalancer"
#        traefik_entrypoint_port: 9000
#        traefik_entrypoint_expose: false
#        websecure_entrypoint_port: 8443
#        websecure_entrypoint_exposed_port: 443
#        websecure_entrypoint_expose: true
#        web_entrypoint_port: 8000
#        web_entrypoint_exposed_port: 80
#        web_entrypoint_expose: true
#        traefik_additional_entrypoint:
#          - name: "example"
#            port: 8001
#            exposed_port: 81
#            expose: true
#        traefik_ingress_enabled: true
#        traefik_gateway_enabled: false
#        dashboard_enabled: false
#        additional_values:
#          healthcheck:
#            enabled: true
traefik_deployments:
  - name: traefik
    state: present
    helm_values:
      deployment_kind: "DaemonSet"
      service_type: "LoadBalancer"
      traefik_entrypoint_port: 9000
      traefik_entrypoint_expose: false
      websecure_entrypoint_port: 8443
      websecure_entrypoint_exposed_port: 443
      websecure_entrypoint_expose: true
      web_entrypoint_port: 8000
      web_entrypoint_exposed_port: 80
      web_entrypoint_expose: true
      traefik_additional_entrypoint: []
      traefik_ingress_enabled: true
      traefik_gateway_enabled: false
      dashboard_enabled: false
      additional_values: {}

# @var traefik_middlewares
# @var traefik_middlewares:type: list of dict
# @var traefik_middlewares:description: >
# List of traefik middlewares to create
# @var traefik_middlewares:example: >
#  traefik_middlewares:
#  - name: redirect-to-https
#    spec:
#      redirectRegex:
#        regex: "^http://(.*)"
#        replacement: "https://$1"
#        permanent: true
#  - name: older-middleware
#    state: absent
traefik_middlewares: []

# @var traefik_middlewares_tcp
# @var traefik_middlewares_tcp:type: list of dict
# @var traefik_middlewares_tcp:description: >
# List of traefik TCP middlewares to create
# @var traefik_middlewares_tcp:example: >
#  traefik_middlewares_tcp:
#  - name: test-inflightconn
#    spec:
#      inFlightConn:
#        amount: 10
#  - name: older-middleware
#    state: absent
traefik_middlewares_tcp: []
