---
- name: Verify
  hosts: localhost
  connection: local
  gather_facts: true

  tasks:
    - name: "Pause for resources to settle."
      ansible.builtin.pause:
        seconds: 5

    - name: "Get 'teleport' namespace info."
      kubernetes.core.k8s_info:
        kind: Namespace
        name: "teleport"
      register: namespace_teleport

    - name: Assert that 'teleport' namespace is active
      ansible.builtin.assert:
        that: namespace_teleport['resources'][0]['status']['phase'] == "Active"

    - name: "Get teleport pods."
      kubernetes.core.k8s_info:
        kind: Pod
        namespace: "teleport"
        label_selectors:
          - "app.kubernetes.io/name=teleport-cluster"
      register: teleport_pods

    - name: Assert that teleport pods exist
      ansible.builtin.assert:
        that: (teleport_pods['resources'] | length) > 0
