---
- name: Create
  hosts: localhost
  connection: local
  gather_facts: false
  vars:
    cloud_provider: "{{ lookup('env', 'DEVBOX_PROJECT_ROOT') }}/.devbox/bin/cloud-provider-kind"
  tasks:
    - name: Build a kind cluster (wait for control plane).
      ansible.builtin.command: >-
        kind create cluster
        --wait 300s
        --name molecule-test
        --kubeconfig {{ kubeconfig }}
      changed_when: true
    - name: Run cloud provider LB.
      ansible.builtin.raw: >-
        nohup {{ cloud_provider }} >/dev/null 2>&1 &
      changed_when: true
    - name: Install traefik
      ansible.builtin.import_role:
        name: "traefik"
