---
- name: Create
  hosts: localhost
  connection: local
  gather_facts: false
  vars:
    cert_manager_acme_production_enabled: false
    cert_manager_acme_staging_enabled: false
    cert_manager_self_signed_enabled: false
    rancher_hostname: "rancher.molecule-test.local"
    rancher_bootstrap_password: "molecule-test-password"
    rancher_replicas: 1
    rancher_ingress_enabled: false
    rancher_ingress_tls_source: "secret"
  tasks:
    - name: Build a kind cluster (wait for control plane).
      ansible.builtin.command: >-
        kind create cluster
        --wait 300s
        --name molecule-test
        --kubeconfig {{ kubeconfig }}
        --image kindest/node:v1.32.3
      changed_when: true

    - name: "Install cert-manager (required by rancher)"
      ansible.builtin.import_role:
        name: "cert_manager"

    - name: "Install rancher"
      ansible.builtin.import_role:
        name: "rancher"
