---
- name: Create
  hosts: localhost
  connection: local
  gather_facts: false
  vars:
    teleport_cluster_name: "teleport.molecule-test.local"
    teleport_proxy_service_type: "ClusterIP"
  tasks:
    - name: Build a kind cluster (wait for control plane).
      ansible.builtin.command: >-
        kind create cluster
        --wait 300s
        --name molecule-test
        --kubeconfig {{ kubeconfig }}
      changed_when: true

    - name: "Install teleport"
      ansible.builtin.import_role:
        name: "teleport"
