---
- name: Converge
  hosts: localhost
  connection: local
  gather_facts: false
  tasks:
    - name: Install traefik
      ansible.builtin.import_role:
        name: "traefik"
  vars:
    traefik_deployments:
      - name: traefik-public
        state: present
        helm_values:
          deployment_kind: "DaemonSet"
          service_type: "LoadBalancer"
          websecure_entrypoint_port: 8443
          websecure_entrypoint_exposed_port: 443
          websecure_entrypoint_expose: true
          web_entrypoint_port: 8000
          web_entrypoint_exposed_port: 80
          web_entrypoint_expose: true
          traefik_additional_entrypoint: []
          traefik_ingress_enabled: true
          traefik_gateway_enabled: false
          dashboard_enabled: false
      - name: traefik-private
        state: present
        helm_values:
          deployment_kind: "DaemonSet"
          service_type: "LoadBalancer"
          traefik_entrypoint_port: 9000
          traefik_entrypoint_expose: false
          websecure_entrypoint_port: 8443
          websecure_entrypoint_exposed_port: 443
          websecure_entrypoint_expose: true
          web_entrypoint_port: 8000
          web_entrypoint_exposed_port: 80
          web_entrypoint_expose: true
          traefik_additional_entrypoint: []
          traefik_ingress_enabled: true
          traefik_gateway_enabled: false
          dashboard_enabled: true
