---
rbac:
  create: {{ metallb_create_rbac | default(true) | lower }}

prometheus:
  serviceMonitor:
    enabled: {{ metallb_prometheus_service_monitor_enabled | lower }}

frr-k8s:
  prometheus:
    serviceMonitor:
      enabled: {{ metallb_prometheus_service_monitor_enabled | lower }}

{% if metallb_create_additional_values | default({}) != {} %}
{{ metallb_create_additional_values | ansible.builtin.to_nice_yaml | indent(0) }}
{% endif %}
