---
name: test modules
on:
  push:
    branches: [main]
    paths:
      - 'plugins/**'
      - 'tests/**'
      - '.github/workflows/test-modules.yml'
  pull_request:
    branches: [main]
    paths:
      - 'plugins/**'
      - 'tests/**'
      - '.github/workflows/test-modules.yml'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.14.0
      - name: Prepare env
        run: devbox run -- task prepare
      - name: Run pytest
        run: devbox run -- task test:modules
