---
name: Test roles

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - 'roles/**'
      - '.github/**'
      - devbox.json
      - devbox.lock
      - flake.nix
      - flake.lock
  pull_request:
    branches: [main]
    paths:
      - 'roles/**'
      - '.github/**'
      - devbox.json
      - devbox.lock
      - flake.nix
      - flake.lock

jobs:
  metallb:
    uses: ./.github/workflows/test-role.yaml
    with:
      role_name: "metallb"
  external_dns:
    uses: ./.github/workflows/test-role.yaml
    with:
      role_name: "external_dns"
  traefik:
    uses: ./.github/workflows/test-role.yaml
    with:
      role_name: "traefik"
  cert-manager:
    uses: ./.github/workflows/test-role.yaml
    with:
      role_name: "cert_manager"
  mongodb:
    uses: ./.github/workflows/test-role.yaml
    with:
      role_name: "mongodb"
  paralus:
    uses: ./.github/workflows/test-role.yaml
    with:
      role_name: "paralus"
  rancher:
    uses: ./.github/workflows/test-role.yaml
    with:
      role_name: "rancher"
